@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #a6c5a7, #92a09099);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(92, 108, 91, 0.598),
    rgba(71, 138, 62, 0.25)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 1%;
  right: 2%;
}
.circle2 {
  bottom: 1%;
  left: 2%;
}

.container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to left bottom,
    rgba(151, 176, 144, 0.574),
    rgba(110, 116, 107, 0.3)
  );
  width: 80%;
  margin: auto;
  min-height: 85vh;
  max-height: 85vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}


.container > form {
  display: flex;
  flex-direction: column;
}

.container > form > textarea {
  resize: none;
}

.container > h1 {
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}

.container > form > input,
.container > form > textarea,
.container > form > button {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

.container > form > textarea,
.container > form > input  {
  background: linear-gradient(to right top, #cde5c82a, #c0ff9b1d);
  color: black;
}
::placeholder {
  color: rgb(49, 49, 49);
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: rgb(67, 67, 67);
}

.container > form > button {
  border: none;
  cursor: pointer;
  background-color: black;
  font-weight: 700;
  color: white;
}

.container > form > button:hover {
  background-color: rgb(56, 56, 56);
}

.task {
  display: flex;
  align-items: center;
  background: linear-gradient(to right top, #e8ffd736, #f0ffed56);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.task > div {
  width: 100%;
}

.task p {
  font-weight: 700;
  font-size: 1.2rem;
}

.task > div > span {
  color: rgb(74, 74, 74);
  font-weight: 600;
  font-size: 1rem;
}

.delBtnDiv {
  background: linear-gradient(to right top, #cfffc62a, #c0ff9b1d);
  border: none;
}